<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:;base64,=">    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/auth.css">
    {{{_sections.head}}}
</head>
<body>
    {{#if flash}}
      <div class="alert alert-dismissible alert-{{flash.type}}">
        <button type="button" class="close" 
          data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
      </div>
    {{/if}}
    <header>    
      <div class="chevronContainer">
        <div id="chevron4" class="chevron">
          <div class="rect"><a href="/authresult">Result</a><span>Result</span></div>
          <div class="right-arrow first"></div>
        </div>
        <div id="chevron3" class="chevron">
          <div class="rect"><a href="/authfaceimage">Face image</a><span>Face image</span></div>
          <div class="right-arrow first"></div>
          <div class="right-arrow last"></div>
        </div>
        <div id="chevron2" class="chevron">
          <div class="rect"><a href="/authga">Google Authenticator</a><span>Google Authenticator</span></div>
          <div class="right-arrow first"></div>
          <div class="right-arrow last"></div>
        </div>
        <div id="chevron1" class="chevron">
          <div class="rect"><a href="/authunamepwd">Username and password</a><span>Username and password</span></div>
          <div class="right-arrow last"></div>
        </div>
      </div>
    </header>
    {{{body}}}
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="./public/js/utils.js"></script>
    <script src="./public/js/auth.js"></script>
    {{{_sections.scripts}}}
</body>
</html>